<%= form_for(@city,html:{class:'form-inline'}) do |f| %>
<%= f.label :name %>
<div class="form-group">
  <div class="col-xs-5">
    <%= f.text_field :city_name,class:'form-control' %>
  </div>
</div>
  <%= f.submit class:'btn btn-default' %>
<% end %>
