Greetings <%= @cleaner.first_name %>,
<p>
  New Cleaning order at Mr./Miss.<%=@customer.first_name%> <%=@customer.last_name%>'s place,<%= @city.city_name%> is alloted to you.
</p>
<p>Thanks and have a great day!</p>
<p> Reagrds,<br/>Homework Cleaners</p>
